{% extends 'base.html' %}
{% block js %}

{% endblock %}
{% block css %}
    <style type="text/css">
    #OptionIndex li{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 17px;
    }
    #OptionIndex li a{
    text-decoration: none;
    color: #0E5887;
    font-weight: bold;
    }
    th,td{
    width: 200px;
    height: 25px;
    text-align: center;
    }
    </style>
{% endblock %}
{% block col_right %}
<div>
    <div style="float: left">

        <ul id="OptionIndex">
            <li><a href="/GetOptionList/?type=1">所属运营商</a></li>
            <li><a href="/GetOptionList/?type=2">线路类型</a></li>
            <li><a href="/GetOptionList/?type=3">设备厂商</a></li>
            <li><a href="/GetOptionList/?type=4">下行带宽</a></li>
            <li><a href="/GetOptionList/?type=5">上行带宽</a></li>
        </ul>
    </div>

    <div id="OptionList" style="border-left: 1px #000000 solid;float: left;min-height: 500px;">
        {% if typename != "" %}
            <div>
            <span style="font-size: 25px;font-weight: bold;margin-left: 50px;">{{ typename }}</span>
        </div>
        <table style="margin-left: 150px;">
            <tr>
                <th>序号</th>
                <th>名称</th>
                <th>删除</th>
            </tr>
            {% for i in abs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.name }}</td>
                <td><a href="#" onclick="javascript:top.location.href='/DelOption/?id={{ i.id }}'">删除</a></td>
            </tr>
            {% endfor %}
        </table>

        <div style="text-align: center;margin-top: 50px;">
            <form  method="post" action="/AddOption/">
                <span style="font-weight:bold; ">新增内容：</span>
                <input type="hidden" value="{{ type }}" name="type"/>
                <span><input type="text" name="name"/> </span>
                <span><input type="submit" value="提交"/> </span>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
