{% extends 'base.html' %}

    {% block headother %}

    {% endblock %}
    {% block js %}
    <script type="text/javascript">


        function download(id,name){
            top.location.href="/DownLoad?id="+id+"&name="+name

        }



        function excel(filetype)
        {
            var url = location.href;
            var str = "&"+url.split("?")[1];
            top.location.href="/excelfile?filetype="+filetype+str;
        }
        function createVPN()
        {
            var url = location.href;
            var str = "?"+url.split("?")[1];
            top.location.href = "/vpn"+str
        }
        function ShowContent(cont){
            var con=document.getElementById("cont");
            con.innerHTML=cont;
            con.style.display='block';
        }
        function ShowFileList(id){
            $.post("/ShowFileList/",{"id":id},function(data){
                $("#dl").html(data)
                $("#dl").css("display","block")
            })
        }
        function DeleteFile(id){
            var organid='{{ cursor.id }}'
            $.post("/DeleteFile/",{"id":id,"organid":organid},function(data){
                $("#dl").html(data)
            })
        }



    </script>
    {% endblock %}
    {% block css %}
    <style type="text/css">
        table{
            margin-left: 60px;
            font-weight: bold;
        }
        h3{
            margin-left: 60px;
        }
        td{
            height: 20px;
        }
        .table1,.table2,.table3,.table4{
            max-width: 900px;
        }
         .table1
        {

            background-color: lightgreen;
        }
        .table2
        {

            background-color: pink;
        }
        .table3
        {
            background-color: lightsalmon;
        }
        .table4
        {
            background-color:lightblue;
        }

    </style>
    {% endblock %}
    {% block col_right%}
<div class='main' style="margin-left: 50px;border-left: 1px #EEEEEF solid">

<div class="top" style="font-size: 25px;">
    <span><b>机构名称</b>：{{ cursor.name }}</span>

    <span style="margin-left: 200px;"><b>机构代码</b>：{{ cursor.organizeid }}</span>

    <a href="#" onclick="javascript:top.location.href='/setMessage/?id={{ id }}&rank={{ rank }}&rankid={{ rankid }}'" style="float: right;font-size: 10px;margin-right: 250px;color: #08517C;">点此修改机构信息</a>

</div>
<div>
    <div  class='table1'>
        <h3>公网信息</h3>
        <table border="1">
            <tr>
                <td>所属运营商</td>
                <td>线路类型</td>
                <td>下行带宽</td>
                <td>上行带宽</td>
                <td>公网IP/WAN口IP</td>
                <td>公网网关/WAN口网关</td>
                <td>所在地DNS</td>
            </tr>
            <tr>
                <td>{{ cursor.operator }}</td>
                <td>{{ cursor.circuit }}</td>
                <td>{{ cursor.downlinkBandwidth }}</td>
                <td>{{ cursor.uplinkBandwidth }}</td>
                <td>{{ cursor.PublicIP }}</td>
                <td>{{ cursor.PublicGATEWAY }}</td>
                <td>{{ cursor.DNS }}</td>
            </tr>
        </table>
    </div>

    <div class='table2'>
        <h3>内网信息</h3>
        <table border="1">
            <tr>
                <td>设备厂商</td>
                <td>内网段</td>
                <td>内网网关</td>
                <td>上网管理设备</td>
                <td>上网管理设备IP</td>
                <td>设备互联网段</td>
                <td>设备管理信息</td>
                <td>LoopbackIP</td>
            </tr>
            <tr>
                <td>{{ cursor.IAD }}</td>
                <td class='Diagram'>{{ cursor.intranetDiagram }}</td>
                <td class='GATEWAY'>{{ cursor.intranetGATEWAY }}</td>
                <td>{{ cursor.networkSupervisor }}</td>
                <td>{{ cursor.networkSupervisorIP }}</td>
                <td>{{ cursor.deviceDiagram }} </td>
                <td>{{ cursor.deviceManagement }} </td>
                <td>{{ cursor.LookbackIP }}</td>

            </tr>
            <tr>
                <td colspan="7">设备服务:
                    {% for i in cursor.deviceService %}
                        {{ i }} &nbsp;
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>

    <div class='table3'>
        <h3>VPN信息</h3>
        <table border="1">
            <tr>
                <td>IKE local-name/<br/>peerID/<br/>local identify data</td>
                <td>Tunnel0</td>
                <td>Tunnel1</td>
                <td>gre key</td>
                <td>ike-<br/>preshare-key</td>
                <td>中心端 "ike peer"/<br/>终端 "policy name"</td>
                <td>中心端<br/>tunnel号</td>
            </tr>

            <tr>
                <td>{{ cursor.peerID }}</td>
                <td>{{ cursor.Tunnel0 }} </td>
                <td>{{ cursor.Tunnel1 }}</td>
                <td>{{ cursor.grekey}}</td>
                <td>{{ cursor.ike_preshare_key }} </td>
                <td>{{ cursor.terminalIkePeer }}</td>
                <td>{{ cursor.centerTunnel }} </td>
            </tr>
            <tr>
                <td>中心端ipsec <br/>policy-template<br/>模板号</td>
                <td>中心端"NQA"<br/> "delect-group"</td>
                <td>username</td>
                <td>当前密码</td>
                <td>历史密码</td>
                <td>当前SSH证书</td>
                <td>历史SSH证书</td>

            </tr>
            <tr>
                <td>{{ cursor.centerTemplate }}</td>
                <td>{{ cursor.centerNQA }}</td>
                <td>{{ cursor.username }} </td>
                <td>{{ cursor.currentPassword }}</td>
                <td class='historicalPassword'>
                    {% for values in cursor.historicalPassword %}
                    {{ values }}
                    {% endfor %}
                </td>
                <td>{{ cursor.currentSSH }}</td>
                <td class='historicalSSH'>
                    {% for values in cursor.historicalSSH %}
                    {{ values }}
                    {% endfor %}
                </td>
            </tr>
         <!--
            -------------------------------------分割--------------------------------------------------
            -->
            <tr>
                <td align="center" colspan="2">TunnelIP网段</td>
                <td>er3100;本端ID</td>
                <td>er3100:预共享密钥（PSK）</td>
                <td>er3100：安全提议名称</td>
                <td>er3100：对端地址</td>
                <td>318：remote identify data
                    er3100：对端ID</td>
            </tr>
            <tr>
                <td>{{ cursor.beginIP }}</td>
                <td>{{ cursor.endIP }}</td>
                <td>{{ cursor.localID}}</td>
                <td>{{ cursor.PSK }}</td>
                <td>{{ cursor.securityname }}</td>
                <td>{{ cursor.remoteaddress }}</td>
                <td>{{ cursor.remoteID }}</td>
            </tr>
        </table>
    </div>
    <div class='table4'>
        <h3>其他信息</h3>
        <table border="1">
            <tr>
                <td>nat情况</td>
                <td>备注</td>
                <td>配置文件</td>
                <td>junniper文件</td>
                <td>h3c文件</td>
                <td>vpn文件</td>

            </tr>
            <tr>
                <td>{{  cursor.nat }} </td>
                <td class='note'>
                    <a href="javascript:void(0)" onclick="javascript:notetext.style.display='block'">点击查看</a>
                </td>
                <td>
                    <a href="javascript:void(0)" onclick="ShowFileList('{{ cursor.id }}')">点击查看</a>
                </td>
                <td><input type="button" value="junniper文件" onclick="excel(0)"/></td>
                <td><input type="button" value="h3c文件" onclick="excel(1)"/></td>
                <td><input type="button" value="vpn文件" onclick="createVPN()"/></td>
            </tr>


         <div style="border:1px #E4E4E4 solid;display: none;background-color: white;position: fixed;left: 300px;top: 300px;width: 300px;min-height: 300px;font-size: 30px;"  id="notetext">
             <div><a href="javascript:void(0)"><img src="/static/pic/close.jpg" style="float: right;" onclick="notetext.style.display='none'"/></a></div>
             {{ cursor.note }}

         </div>
        </table>
    </div>
</div>


</div>

<div style="position: fixed;left: 500px;top: 300px;background-color: white;width: 500px;height: 300px;display: none;" id="dl" >

</div>

{% endblock %}

