{% extends 'base.html' %}

    {% block headother %}
    <link rel="stylesheet" type="text/css" href="/static/css/css.css"/>
    {% endblock %}
    {% block js %}
    <script type="text/javascript">
        function ShowOrganList(){
            /*
             *异步返回机构列表
             */
            var box =300;

            var th= $(window).scrollTop()+$(window).height()/1.4-box;

            var h =document.body.clientHeight;

            var rw =$(window).width()/2-box;

            $("#OrganList").animate({top:th,opacity:'show',width:600,height:340,left:rw},500);//弹窗效果

            $.post("/getOrganList/",function(data){
                $("#OrganList").html(data)
            })
        }
        function ShowNextOrgan(rank,id){
            /*
             异步返回子机构列表
             */
            $("#OrganList").load("/getNextOrgan/",{"rank":rank,"id":id})
        }
        function ChooseParent(name,id,rank){
                /*
                 缓存母机构信息
                 */
                var nowrank=$("select[name='rank']").val() //获取当前选择机构层级
                if(rank<nowrank-1||rank>nowrank){
                    alert("母机构层级错误");
                    return
                    //判断当前机构与所选母机构层级逻辑关系，错误则返回
                }
                $("#parent").val(name);
                $("#parentID").val(id);
                $("#parentRank").val(rank);
                $("#OrganList").css("display","none");
        }
        function ChangeSelect(me,id){
            /**
             *正则匹配“光纤”
             * 公网IP与公网网关是否可填
             */

            var text=$(me).find("option:selected").text()
            $("#"+id).val(text)
            if(id=='circuit'){
                if(text!='光纤专线'){
                    $("input[name='PublicIP']").attr("disabled","true");
                    $("input[name='PublicGATEWAY']").attr("disabled","true");

                }
                else{
                    $("input[name='PublicIP']").removeAttr("disabled");
                    $("input[name='PublicGATEWAY']").removeAttr("disabled");
                }
            }
        }
        function JudgeRank(me){
            /*
            判断机构层级
             */
            if($(me).val()=="2"){
                //如果所选为2级机构，则禁用母公司选择元素
                $("#parent").attr("disabled","true")
                $("#parent").val("温氏集团")
            }
            else{
                $("#parent").removeAttr("disabled")
                $("#parent").val("")
            }
        }
        function IP2V(ip){
            var re = /^([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])$/;   //匹配IP地址的正则表达式
            var re2=/^([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\\|\/(\d{1,2})$/;
            if(!re2.test(ip)&&!re.test(ip)){
                alert("IP段格式错误，请按照'X.X.X.X'或'X.X.X.X/XX'格式输入");
            }
        }
        function SetGrekey(ip){
            var  iparray=ip.split(".")
            for(var i=0;i<iparray.length;i++){
                if(iparray[i]<10){
                    iparray[i]="0"+iparray[i]
                }
            }
            $("#grekey").val(iparray[0]+iparray[1]+iparray[2])

        }
    </script>
    {% endblock %}
    {% block css %}
    <style type="text/css">

    </style>
    {% endblock %}

{% block col_right %}
<form method="post" action="/CreateNewMessage/">
    <input type="hidden" value="{{ id }}" name="myid"/>
<div class="top">
    <span>
        <b>机构信息</b>
        <span>温氏集团</span>
        <span>机构层级：</span>
        <select name="rank" onchange="JudgeRank(this)">
            <option>请选择</option>
            <option value="2">二级机构</option>
            <option value="2.5">二级半机构</option>
            <option value="3">三级机构</option>
            <option value="4">四级机构</option>

        </select>

        <span><b>母公司</b></span>
        <input type="text" onclick="ShowOrganList()" id="parent"/>
        <input type="hidden" id="parentID" name="parentID"/>
        <input type="hidden" id="parentRank" name="parentRank"/>
        <span><b>机构名称：</b></span>
        <input type="text" value="部门" name="department">

    </span>
    <span><b>机构代码：</b><input type="text" value="{{ organid }}" name="organid" id="ID"/> </span>
</div>
<div>
    <div  class='table1'>
        <h3>公网信息</h3>
        <table border="1">
            <tr>
                <td>
                    所属运营商
                    <select id="SelectOperator" onchange="ChangeSelect(this,'operator')" class="select">
                        <option>请选择</option>
                        {% for j in option1 %}
                            <option>{{ j.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    线路类型
                    <select onchange="ChangeSelect(this,'circuit')" class="select">
                        <option>请选择</option>
                        {% for j in option2 %}
                            <option>{{ j.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>下行带宽
                    <select onchange="ChangeSelect(this,'downlinkBandwidth')" class="select">
                        <option>请选择</option>
                        {% for j in option4 %}
                            <option>{{ j.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>上行带宽
                    <select onchange="ChangeSelect(this,'uplinkBandwidth')" class="select">
                        <option>请选择</option>
                        {% for j in option5 %}
                            <option>{{ j.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>公网IP/WAN口IP</td>
                <td>公网网关/WAN口网关</td>
                <td>所在地DNS</td>
            </tr>
            <tr>
                <td><input type="text"  name='operator' id="operator"/></td>
                <td><input type="text"  name="circuit" id="circuit"/></td>
                <td><input type="text"  name="downlinkBandwidth" id="downlinkBandwidth"/></td>
                <td><input type="text"  name="uplinkBandwidth" id="uplinkBandwidth"/></td>
                <td><input type="text"  name="PublicIP" onchange="IP2V($(this).val())"/></td>
                <td><input type="text"  name="PublicGATEWAY" onchange="IP2V($(this).val())"/></td>
                <td><input type="text"  name="DNS"/></td>
            </tr>
        </table>
    </div>

    <div class='table2'>
        <h3>内网信息</h3>
        <table border="1">
            <tr>
                <td>
                    设备厂商
                    <select onchange="ChangeSelect(this,'IAD')">
                        <option>请选择</option>
                        {% for j in option3 %}
                            <option>{{ j.name }}</option>
                        {% endfor %}
                    </select>
                </td>

                <td>内网段</td>
                <td>内网网关</td>
                <td>上网管理设备</td>
                <td>设备互联网段</td>
                <td>设备互联网段IP</td>
                <td>设备管理信息</td>

            </tr>
            <tr>
                <td><input type="text"  name="IAD" id="IAD"/></td>

                <td class='Diagram'>

                        <input type="text"  name="Diagram" onchange="IP2V($(this).val()),SetGrekey($(this).val())"/>

                </td>

                <td class='GATEWAY'>

                        <input type="text" name="GATEWAY" onchange="IP2V($(this).val())"/>


                </td>
                <td><input type="text"  name="networkSupervisor"/> </td>
                <td><input type="text" name="networkSupervisorIP"/> </td>
                <td><input type="text"  name="deviceDiagram"/> </td>
                <td><input type="text"  name="deviceManagement"/> </td>


            </tr>
            <tr>
                <td colspan="7">LoopbackIP</td>
            </tr>
            <tr>
                <td colspan="7"><input type="text" name="LoopbackIP"/> </td>
            </tr>
            <tr>

                <td colspan="7">设备服务:
                    snmp:<input type="checkbox" value="snmp" name="deviceService" id="snmp">
                    https:<input type="checkbox" value="https" name="deviceService" id="https">
                    telnet:<input type="checkbox" value="telnet" name="deviceService" id="telnet">
                    ssh:<input type="checkbox" value="ssh" name="deviceService" id="ssh">
                    http:<input type="checkbox" value="http" name="deviceService" id="http">
                    ntp:<input type="checkbox" value="ntp" name="deviceService" id="ntp">
                    ftp:<input type="checkbox" value="ftp" name="deviceService" id="ftp">
                </td>
            </tr>
        </table>
    </div>

    <div class='table3'>
        <h3>VPN信息</h3>
        <table border="1">
            <tr>
                <td>IKE local-name/<br/>peerID/<br/>local identify data<br/><input type="button" value="自动生成" onclick="setkey('peerID')" class='make'/> </td>
                <td>Tunnel0</td>
                <td>Tunnel1</td>
                <td>gre key(默认根据内网段生成)</td>
                <td>ike-<br/>preshare-key</td>
                <td>中心端 "ike peer"/<br/>终端 "policy name" <br/><input type="button" value="自动生成" onclick="setkey('IkePeer')" class='make'/></td>
                <td>中心端<br/>tunnel号</td>
            </tr>

            <tr>
                <td><input type="text"  name="peerID" id="peerID"/> </td>
                <td><input type="text"  name="Tunnel0"/> </td>
                <td><input type="text"  name="Tunnel1"/> </td>
                <td><input type="text"  name="grekey" id="grekey"/> </td>
                <td><input type="text" value="系统生成" disabled/> </td>
                <td><input type="text"  name="terminalIkePeer" id="IkePeer"/> </td>
                <td><input type="text"  name="centerTunnel"/> </td>
            </tr>
            <tr>
                <td>中心端ipsec <br/>policy-template<br/>模板号</td>
                <td>中心端"NQA"<br/> "delect-group"</td>
                <td>username</td>
                <td>当前密码</td>
                <td>历史密码</td>
                <td>当前SSH证书</td>
                <td>历史SSH证书</td>

            </tr>
            <tr>
                <td><input type="text"  name="centerTemplate"/> </td>
                <td><input type="text"  name="centerNQA"/> </td>
                <td><input type="text"  name="username"/> </td>
                <td><input type="text"  name="currentPassword"/> </td>
                <td class='historicalPassword'><input type="text"  name="historicalPassword"/> </td>
                <td><input type="text"  name="currentSSH"/> </td>
                <td class='historicalSSH'><input type="text"  name="historicalSSH"/> </td>
            </tr>
        </table>
    </div>
    <div class='table4'>
        <h3>其他信息</h3>
        <table border="1">
            <tr>
                <td>nat情况</td>
                <td width="550px">备注<input type="button" value='add' class='addnote add' onclick="addtext('note','60px')"/> </td>
                <td>配置文件</td>

            </tr>
            <tr>
                <td><input type="text" name="nat"/> </td>
                <td class='note'>

                        <input type="text" name="note" size="120px"/>

                </td>
                <td><input type="file"  name="config" disabled="true"/> </td>
            </tr>
        </table>
    </div>
</div>



    <input type="submit" value="click" class='post submit' />
</form>
<div id="OrganList" style="border:1px silver solid;background-color:white;
                                height: 320px;width: 600px;position: fixed;left: 300px;top: 200px;display: none;
                                -moz-box-shadow: 5px 5px 5px #888888; /* 老的 Firefox */
                                box-shadow: 5px 5px 5px #888888;">
</div>
{% endblock %}


