{% extends 'base.html' %}
    {% block headother %}
    <link rel="stylesheet" type="text/css" href="/static/css/css.css"/>
    <script type="text/javascript" src="/static/js/js.js"></script>
    {% endblock %}
    {% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            {% for i in cursor.deviceService %}
                $("#"+'{{ i }}').attr("checked","true")
            {% endfor %}
        })
    </script>
    {% endblock %}
{% block col_right %}
<div class='main'>
    <form action="/UpdateMessage/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value='{{ cursor.id }}'/>
        <input type="hidden" value="{{ obj.message.rank }}" name="parentRank"/>
        <input type="hidden" value="{{ obj.id }}" name="parentID"/>
        <div class="top">

            <span><b>上属机构:</b><input type="text" value="{{ obj.name }}"/> </span>
            <span><b>机构名称</b><input type="text" name="department" value="{{ cursor.name }}"/></span>
            <span><b>机构代码</b><input type="text" value="{{ cursor.organizeid }}" name="organid" id="ID"/> </span>
            <a href="#" onclick="javascript:top.location.href='/getMessage/?id={{ id }}&rank={{ rank }}&rankid={{ rankid }}'" style="float: right;font-size: 10px;color:#08517C;margin-right: 250px;">点此查看机构信息</a>
        </div>

        <div>
            <div  class='table1'>
                <h3>公网信息</h3>
                <table border="1">
                    <tr>
                        <td>所属运营商
                            <select id="SelectOperator" onchange="ChangeSelect(this,'operator')" class="select">
                                <option>请选择</option>
                                {% for j in option1 %}
                                <option>{{ j.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>线路类型
                            <select onchange="ChangeSelect(this,'circuit')" class="select">
                                <option>请选择</option>
                                {% for j in option2 %}
                                <option>{{ j.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>下行带宽
                            <select onchange="ChangeSelect(this,'downlinkBandwidth')" class="select">
                                <option>请选择</option>
                                {% for j in option4 %}
                                    <option>{{ j.name }}</option>
                                {% endfor %}
                            </select>

                        </td>
                        <td>上行带宽
                            <select onchange="ChangeSelect(this,'uplinkBandwidth')" class="select">
                                <option>请选择</option>
                                {% for j in option5 %}
                                    <option>{{ j.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>公网IP/WAN口IP</td>
                        <td>公网网关/WAN口网关</td>
                        <td>所在地DNS</td>
                    </tr>
                    <tr>
                        <td><input type="text" value="{{ cursor.operator }}" name='operator'id='operator'/></td>
                        <td>
                            <input type="text" value="{{ cursor.circuit }}" name="circuit" id="circuit"/>
                        </td>
                        <td><input type="text" value="{{ cursor.downlinkBandwidth }}" name="downlinkBandwidth" id="downlinkBandwidth"/></td>
                        <td><input type="text" value="{{ cursor.uplinkBandwidth }}" name="uplinkBandwidth" id="uplinkBandwidth"/></td>
                        <td><input type="text" value="{{ cursor.PublicIP }}" name="PublicIP"/></td>
                        <td><input type="text" value="{{ cursor.PublicGATEWAY }}" name="PublicGATEWAY"/></td>
                        <td><input type="text" value="{{ cursor.DNS }}" name="DNS"/></td>
                    </tr>
                </table>
            </div>

            <div class='table2'>
                <h3>内网信息</h3>
                <table border="1">
                    <tr>
                        <td>
                            设备厂商
                            <select onchange="ChangeSelect(this,'IAD')">
                                <option>请选择</option>
                                {% for j in option3 %}
                                <option>{{ j.name }}</option>
                                {% endfor %}
                            </select>
                        </td>

                        <td>内网段</td>
                        <td>内网网关</td>
                        <td>上网管理设备</td>

                    </tr>
                    <tr>
                        <td><input type="text" value="{{ cursor.IAD }}" size="30px" name="IAD" id="IAD"/></td>

                        <td class='Diagram'>
                            <input type="text" value="{{ cursor.intranetDiagram }}" name="Diagram"/>
                        </td>

                        <td class='GATEWAY'>
                            <input type="text" value="{{ cursor.intranetGATEWAY }}" name="GATEWAY"/>

                        </td>
                        <td><input type="text" value="{{ cursor.networkSupervisor }}" name="networkSupervisor" size="30px"/> </td>
                    </tr>
                    <tr>
                        <td>上网管理设备IP</td>
                        <td>设备互联网段</td>
                        <td>设备管理信息</td>
                        <td>LoopbackIP</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="networkSupervisorIP" value=""/> </td>
                        <td><input type="text" value="{{ cursor.deviceDiagram }}" name="deviceDiagram"/> </td>
                        <td><input type="text" value="{{ cursor.deviceManagement }}" name="deviceManagement"/> </td>
                        <td><input type="text" value="{{ cursor.LookbackIP }}" name="LoopbackIP"/> </td>

                    </tr>
                    <tr>
                        <td colspan="7">设备服务:
                            snmp:<input type="checkbox" value="snmp" name="deviceService" id="snmp">
                            https:<input type="checkbox" value="https" name="deviceService" id="https">
                            telnet:<input type="checkbox" value="telnet" name="deviceService" id="telnet">
                            ssh:<input type="checkbox" value="ssh" name="deviceService" id="ssh">
                            http:<input type="checkbox" value="http" name="deviceService" id="http">
                            ntp:<input type="checkbox" value="ntp" name="deviceService" id="ntp">
                            ftp:<input type="checkbox" value="ftp" name="deviceService" id="ftp">
                        </td>
                    </tr>
                </table>
            </div>

            <div class='table3'>
                <h3>VPN信息</h3>
                <table border="1">
                    <tr>
                        <td>IKE local-name/<br/>peerID/<br/>local identify data</td>
                        <td>Tunnel0</td>
                        <td>Tunnel1</td>
                        <td>gre key</td>
                        <td>ike-<br/>preshare-key</td>
                        <td>中心端 "ike peer"/<br/>终端 "policy name"</td>
                        <td>中心端<br/>tunnel号</td>
                    </tr>

                    <tr>
                        <td><input type="text" value="{{ cursor.peerID }}" name="peerID" id="peerID"/> </td>
                        <td><input type="text" value="{{ cursor.Tunnel0 }}" name="Tunnel0"/> </td>
                        <td><input type="text" value="{{ cursor.Tunnel1 }}" name="Tunnel1"/> </td>
                        <td><input type="text" value="{{ cursor.grekey}}" name="grekey" id="grekey"/> </td>
                        <td><input type="text" value="{{ cursor.ike_preshare_key }}" name="ike_preshare_key" id="ike"/> </td>
                        <td><input type="text" value="{{ cursor.terminalIkePeer }}" name="terminalIkePeer" id="IkePeer"/> </td>
                        <td><input type="text" value="{{ cursor.centerTunnel }}" name="centerTunnel"/> </td>
                    </tr>
                    <tr>
                        <td>中心端ipsec <br/>policy-template<br/>模板号</td>
                        <td>中心端"NQA"<br/> "delect-group"</td>
                        <td>username</td>
                        <td>当前密码</td>
                        <td>历史密码</td>
                        <td>当前SSH证书</td>
                        <td>历史SSH证书</td>

                    </tr>
                    <tr>
                        <td><input type="text" value="{{ cursor.centerTemplate }}" name="centerTemplate"/> </td>
                        <td><input type="text" value="{{ cursor.centerNQA }}" name="centerNQA"/> </td>
                        <td><input type="text" value="{{ cursor.username }}" name="username"/> </td>
                        <td><input type="text" value="{{ cursor.currentPassword }}" name="currentPassword"/> </td>
                        <td class="historicalPassword">
                            <input type="text" value="{{ cursor.historicalPassword }}" name="historicalPassword" size="20px"/>
                        </td>
                        <td><input type="text" value="{{ cursor.currentSSH }}" name="currentSSH"/> </td>
                        <td class="historicalSSH">
                            <input type="text" value="{{ cursor.historicalSSH }}" name="historicalSSH"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">TunnelIP网段</td>
{#                        <td>er3100;本端ID</td>#}
{#                        <td>er3100:预共享密钥（PSK）</td>#}
{#                        <td>er3100：安全提议名称</td>#}
{#                        <td>er3100：对端地址</td>#}
{#                        <td>318：remote identify data#}
{#                            er3100：对端ID</td>#}
                    </tr>
                    <tr>
                        <td><input type="text" value = "{{ cursor.beginIP }}" name="beginIP" id= "beginIP"  {% if cursor.rank != "2" %}disabled="true"{% endif %} /></td>
                        <td><input type="text" value = "{{ cursor.endIP }}" name="endIP"   id="endIP" {% if cursor.rank != "2" %}disabled="true"{% endif %}/></td>
{#                        <td><input type="text" name="localID" value="{{ cursor.localID }}"/> </td>#}
{#                        <td><input type="text" name="PSK" value="{{ cursor.PSK }}"/> </td>#}
{#                        <td><input type="text" name="securityname" value="{{ cursor.securityname }}"/> </td>#}
{#                        <td><input type="text" name="remoteaddress" value="{{ cursor.remoteaddress }}"/> </td>#}
{#                        <td><input type="text" name="remoteID" value="{{ cursor.remoteID }}"/> </td>#}
                    </tr>
                </table>
            </div>
            <div class='table4'>
                <h3>其他信息</h3>
                <table border="1">
                    <tr>
                        <td>nat情况</td>
                        <td>备注 </td>
                        <td>文件上传</td>

                    </tr>
                    <tr>
                        <td><input type="text" value="{{ cursor.nat }}" name="nat"/> </td>
                        <td class='note'>
                            <a href="javascript:void (0)" onclick="javascript:notetext.style.display='block'">点此输入</a>
                        </td>
                        <td><a href="javascript:void(0) " onclick="javascript:fileupload.style.display='block' ">点击操作</a></td>

                    </tr>
                    <div id="fileupload" style="display:none;background-color: white;width: 350px;height:300px;position:absolute;left: 650px;top: 550px;">
                        <div><a href="javascript:void(0)"><img src="/static/pic/close.jpg" style="float: right;" onclick="fileupload.style.display='none'"/></a></div>
                        <div>
                        <p>选择文件:<input type="file"  name="file"/></p>
                        文件名:<input type="text" name="filename"/><br/>
                        文件描述:<textarea name="content" style="width: 95%;height: 150px;"></textarea>
                        </div>
                    </div>
                    <div id="notetext" style="display: none;width: 400px;height: 300px;position: fixed;left: 300px;top: 300px;background-color: white;">
                        <div><a href="javascript:void(0)"><img src="/static/pic/close.jpg" style="float: right;" onclick="notetext.style.display='none'"/></a></div>
                        <p>在此输入备注信息：</p>
                        <textarea id="notearea" style="width: 95%;height: 60%;" name="note">{{ cursor.note }}</textarea>
                        <input type="button" value="确定" onclick="javascript:notetext.style.display='none'"/>
                    </div>
                </table>
            </div>
        </div>
        <input type="submit" value="submit" class="submit"/>

    </form>

</div>
{% endblock %}

