{% extends 'base.html' %}
    {% block headother %}
    <link rel="stylesheet" type="text/css" href="/static/css/css.css"/>
    <script type="text/javascript" src="/static/js/js.js"></script>
    {% endblock %}
    {% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            {% for i in cursor.deviceService %}
                $("#"+'{{ i }}').attr("checked","true")
            {% endfor %}
        })

    function DelFile(filename,id){
        if(confirm("确定删除吗？")){
            $.post('/DeleteFile/',{"filename":filename,"id":id},function(data){
                alert(data)
            })
        }
    }
    </script>
    {% endblock %}
{% block col_right %}
<div class='main'>
    <form action="/UpdateMessage/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value='{{ cursor.id }}'/>
        <input type="hidden" value="{{ obj.message.rank }}" name="parentRank"/>
        <input type="hidden" value="{{ obj.id }}" name="parentID"/>
        <div class="top">

            <span><b>上属机构:</b><input type="text" value="{{ obj.name }}"/> </span>
            <span><b>机构名称</b><input type="text" name="department" value="{{ cursor.name }}"/></span>
            <span><b>机构代码</b><input type="text" value="{{ cursor.organizeid }}" name="organid" id="ID"/> </span>
        </div>

        <div>
            <div  class='table1'>
                <h3>公网信息</h3>
                <table border="1">
                    <tr>
                        <td>所属运营商
                            <select id="SelectOperator" onchange="ChangeSelect(this,'operator')" class="select">
                                <option>请选择</option>
                                {% for j in option1 %}
                                <option>{{ j.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>线路类型
                            <select onchange="ChangeSelect(this,'circuit')" class="select">
                                <option>请选择</option>
                                {% for j in option2 %}
                                <option>{{ j.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>下行带宽
                            <select onchange="ChangeSelect(this,'downlinkBandwidth')" class="select">
                                <option>请选择</option>
                                {% for j in option4 %}
                                    <option>{{ j.name }}</option>
                                {% endfor %}
                            </select>

                        </td>
                        <td>上行带宽
                            <select onchange="ChangeSelect(this,'uplinkBandwidth')" class="select">
                                <option>请选择</option>
                                {% for j in option5 %}
                                    <option>{{ j.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>公网IP/WAN口IP</td>
                        <td>公网网关/WAN口网关</td>
                        <td>所在地DNS</td>
                    </tr>
                    <tr>
                        <td><input type="text" value="{{ cursor.operator }}" name='operator'id='operator'/></td>
                        <td>
                            <input type="text" value="{{ cursor.circuit }}" name="circuit" id="circuit"/>
                        </td>
                        <td><input type="text" value="{{ cursor.downlinkBandwidth }}" name="downlinkBandwidth" id="downlinkBandwidth"/></td>
                        <td><input type="text" value="{{ cursor.uplinkBandwidth }}" name="uplinkBandwidth" id="uplinkBandwidth"/></td>
                        <td><input type="text" value="{{ cursor.PublicIP }}" name="PublicIP"/></td>
                        <td><input type="text" value="{{ cursor.PublicGATEWAY }}" name="PublicGATEWAY"/></td>
                        <td><input type="text" value="{{ cursor.DNS }}" name="DNS"/></td>
                    </tr>
                </table>
            </div>

            <div class='table2'>
                <h3>内网信息</h3>
                <table border="1">
                    <tr>
                        <td>
                            设备厂商
                            <select onchange="ChangeSelect(this,'IAD')">
                                <option>请选择</option>
                                {% for j in option3 %}
                                <option>{{ j.name }}</option>
                                {% endfor %}
                            </select>
                        </td>

                        <td>内网段<input type="button" value='add' class='addnote add' onclick="addtext('Diagram','20px')" /></td>
                        <td>内网网关<input type="button" value='add' class='addnote add' onclick="addtext('GATEWAY','20px')"/></td>
                        <td>上网管理设备</td>

                    </tr>
                    <tr>
                        <td><input type="text" value="{{ cursor.IAD }}" size="30px" name="IAD" id="IAD"/></td>

                        <td class='Diagram'>
                            <input type="text" value="{{ values }}" name="Diagram"/>
                            {% for values in cursor.intranetDiagram %}
                                {% if values != ""%}
                                <input type="text" value="{{ values }}" name="Diagram"/>
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td class='GATEWAY'>
                            <input type="text" value="{{ values }}" name="GATEWAY"/>
                            {% for values in cursor.intranetGATEWAY %}
                                {% if values != "" %}
                                <input type="text" value="{{ values }}" name="GATEWAY"/>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><input type="text" value="{{ cursor.networkSupervisor }}" name="networkSupervisor" size="30px"/> </td>
                    </tr>
                    <tr>
                        <td>上网管理设备IP</td>
                        <td>设备互联网段</td>
                        <td>设备管理信息</td>
                        <td>LoopbackIP</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="networkSupervisorIP" value=""/> </td>
                        <td><input type="text" value="{{ cursor.deviceDiagram }}" name="deviceDiagram"/> </td>
                        <td><input type="text" value="{{ cursor.deviceManagement }}" name="deviceManagement"/> </td>
                        <td><input type="text" value="{{ cursor.LookbackIP }}" name="LoopbackIP"/> </td>

                    </tr>
                    <tr>
                        <td colspan="7">设备服务:
                            snmp:<input type="checkbox" value="snmp" name="deviceService" id="snmp">
                            https:<input type="checkbox" value="https" name="deviceService" id="https">
                            telnet:<input type="checkbox" value="telnet" name="deviceService" id="telnet">
                            ssh:<input type="checkbox" value="ssh" name="deviceService" id="ssh">
                            http:<input type="checkbox" value="http" name="deviceService" id="http">
                            ntp:<input type="checkbox" value="ntp" name="deviceService" id="ntp">
                            ftp:<input type="checkbox" value="ftp" name="deviceService" id="ftp">
                        </td>
                    </tr>
                </table>
            </div>

            <div class='table3'>
                <h3>VPN信息</h3>
                <table border="1">
                    <tr>
                        <td>IKE local-name/<br/>peerID/<br/>local identify data<br/><input type="button" value="自动生成" onclick="setkey('peerID')" class='make'/> </td>
                        <td>Tunnel0</td>
                        <td>Tunnel1</td>
                        <td>gre key<br/><input type="button" value="自动生成" onclick="makegrekey()" class='make'/></td>
                        <td>ike-<br/>preshare-key</td>
                        <td>中心端 "ike peer"/<br/>终端 "policy name" <br/><input type="button" value="自动生成" onclick="setkey('IkePeer')" class='make'/></td>
                        <td>中心端<br/>tunnel号</td>
                    </tr>

                    <tr>
                        <td><input type="text" value="{{ cursor.peerID }}" name="peerID" id="peerID"/> </td>
                        <td><input type="text" value="{{ cursor.Tunnel0 }}" name="Tunnel0"/> </td>
                        <td><input type="text" value="{{ cursor.Tunnel1 }}" name="Tunnel1"/> </td>
                        <td><input type="text" value="{{ cursor.grekey}}" name="grekey" id="grekey"/> </td>
                        <td><input type="text" value="{{ cursor.ike_preshare_key }}" name="ike_preshare_key" id="ike"/> </td>
                        <td><input type="text" value="{{ cursor.terminalIkePeer }}" name="terminalIkePeer" id="IkePeer"/> </td>
                        <td><input type="text" value="{{ cursor.centerTunnel }}" name="centerTunnel"/> </td>
                    </tr>
                    <tr>
                        <td>中心端ipsec <br/>policy-template<br/>模板号</td>
                        <td>中心端"NQA"<br/> "delect-group"</td>
                        <td>username</td>
                        <td>当前密码</td>
                        <td>历史密码</td>
                        <td>当前SSH证书</td>
                        <td>历史SSH证书</td>

                    </tr>
                    <tr>
                        <td><input type="text" value="{{ cursor.centerTemplate }}" name="centerTemplate"/> </td>
                        <td><input type="text" value="{{ cursor.centerNQA }}" name="centerNQA"/> </td>
                        <td><input type="text" value="{{ cursor.username }}" name="username"/> </td>
                        <td><input type="text" value="{{ cursor.currentPassword }}" name="currentPassword"/> </td>
                        <td class="historicalPassword">
                            {% for values in cursor.historicalPassword %}
                                <input type="text" value="{{ values }}" name="historicalPassword" size="20px"/>
                            {% endfor %}
                            <input type="text" value="" name="historicalPassword" size="20px"/>
                        </td>
                        <td><input type="text" value="{{ cursor.currentSSH }}" name="currentSSH"/> </td>
                        <td class="historicalSSH">
                            {% for values in historicalSSH %}
                                <input type="text" value="{{ values }}" name="historicalSSH"/>
                            {% endfor %}
                            <input type="text" value="" name="historicalSSH"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class='table4'>
                <h3>其他信息</h3>
                <table border="1">
                    <tr>
                        <td>nat情况</td>
                        <td style="width:350px">备注<input type="button" value='add' class='addnote add' onclick="addtext('note','60px')"/> </td>
                        <td>配置文件</td>
                        <td>文件上传</td>

                    </tr>
                    <tr>
                        <td><input type="text" value="{{ cursor.nat }}" name="nat"/> </td>
                        <td class='note'>
                            <input type="text" value="{{ cursor.note }}" name="note" size="120px"/>
                        </td>
                        <td>{% for f in files %}
                                {{ f }}<input type="button" onclick="DelFile('{{ f }}','{{ cursor.ID }}')" value='删除' /> <br/>
                            {% endfor %}
                        </td>
                        <td><input type="text" name="filename"/><br/> <input type="file"  name="file"/> </td>
                    </tr>
                </table>
            </div>
        </div>



        <input type="submit" value="submit" class="submit"/>
    </form>

</div>
{% endblock %}

